-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: pdks
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aylik_puantaj_parametreleri`
--

DROP TABLE IF EXISTS `aylik_puantaj_parametreleri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aylik_puantaj_parametreleri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `hesap_parametresi_adi` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `aylik_calisma_saati` int NOT NULL DEFAULT '225',
  `haftalik_calisma_saati` int NOT NULL DEFAULT '45',
  `gunluk_calisma_saati` decimal(4,1) NOT NULL DEFAULT '7.5',
  `eksik_gun_kesintisi_yapilacak_mi` tinyint(1) NOT NULL DEFAULT '1',
  `fazla_mesai_carpani` decimal(4,2) NOT NULL DEFAULT '1.50',
  `tatil_mesai_carpani` decimal(4,2) NOT NULL DEFAULT '2.00',
  `resmi_tatil_mesai_carpani` decimal(4,2) NOT NULL DEFAULT '2.00',
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aylik_puantaj_parametreleri_firma_id_foreign` (`firma_id`),
  CONSTRAINT `aylik_puantaj_parametreleri_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aylik_puantaj_parametreleri`
--

LOCK TABLES `aylik_puantaj_parametreleri` WRITE;
/*!40000 ALTER TABLE `aylik_puantaj_parametreleri` DISABLE KEYS */;
INSERT INTO `aylik_puantaj_parametreleri` VALUES (1,1,'BEYAZ YAKA (Ayl─▒k/Sabit)',225,45,7.5,1,1.50,2.00,2.00,1,'2026-03-04 16:34:06','2026-03-04 16:34:06',NULL),(2,1,'MAV─░ YAKA (Saatlik/Vardiyal─▒)',225,45,7.5,1,1.50,1.50,2.00,1,'2026-03-04 16:34:06','2026-03-04 16:34:06',NULL),(3,1,'PART-TIME (Yar─▒ Zamanl─▒)',120,30,6.0,1,1.50,1.50,2.00,1,'2026-03-04 16:34:06','2026-03-04 16:34:06',NULL),(4,1,'├ûZEL G├£VENL─░K (12/24)',240,60,12.0,1,1.50,2.00,2.00,1,'2026-03-04 16:34:06','2026-03-04 16:34:06',NULL);
/*!40000 ALTER TABLE `aylik_puantaj_parametreleri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bildirim_kurallari`
--

DROP TABLE IF EXISTS `bildirim_kurallari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bildirim_kurallari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `kural_tipi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tetikleme_saati` time NOT NULL,
  `alici_telefon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alici_eposta` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bildirim_kurallari_uuid_unique` (`uuid`),
  KEY `bildirim_kurallari_firma_id_tetikleme_saati_index` (`firma_id`,`tetikleme_saati`),
  CONSTRAINT `bildirim_kurallari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bildirim_kurallari`
--

LOCK TABLES `bildirim_kurallari` WRITE;
/*!40000 ALTER TABLE `bildirim_kurallari` DISABLE KEYS */;
/*!40000 ALTER TABLE `bildirim_kurallari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bildirim_loglari`
--

DROP TABLE IF EXISTS `bildirim_loglari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bildirim_loglari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned DEFAULT NULL,
  `personel_id` bigint unsigned DEFAULT NULL,
  `kanal` enum('sms','email') COLLATE utf8mb4_unicode_ci NOT NULL,
  `alici` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `konu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mesaj` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `durum` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'bekliyor',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bildirim_loglari_firma_id_kanal_created_at_index` (`firma_id`,`kanal`,`created_at`),
  CONSTRAINT `bildirim_loglari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bildirim_loglari`
--

LOCK TABLES `bildirim_loglari` WRITE;
/*!40000 ALTER TABLE `bildirim_loglari` DISABLE KEYS */;
/*!40000 ALTER TABLE `bildirim_loglari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bordro_alanlari`
--

DROP TABLE IF EXISTS `bordro_alanlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bordro_alanlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `kod` int NOT NULL,
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gun` tinyint(1) NOT NULL DEFAULT '0',
  `saat` tinyint(1) NOT NULL DEFAULT '0',
  `ucret` tinyint(1) NOT NULL DEFAULT '0',
  `bordro_tipi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal_calisma',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bordro_alanlari_firma_id_foreign` (`firma_id`),
  CONSTRAINT `bordro_alanlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bordro_alanlari`
--

LOCK TABLES `bordro_alanlari` WRITE;
/*!40000 ALTER TABLE `bordro_alanlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `bordro_alanlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calisma_gruplari`
--

DROP TABLE IF EXISTS `calisma_gruplari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calisma_gruplari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `aciklama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hesap_parametresi` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `calisma_gruplari_firma_id_index` (`firma_id`),
  CONSTRAINT `calisma_gruplari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calisma_gruplari`
--

LOCK TABLES `calisma_gruplari` WRITE;
/*!40000 ALTER TABLE `calisma_gruplari` DISABLE KEYS */;
INSERT INTO `calisma_gruplari` VALUES (1,1,'MAV─░ YAKA','GENEL AYLIK PAR.',1,NULL,'2026-03-04 15:35:44','2026-03-04 15:35:44'),(2,1,'BEYAZ YAKA','GENEL AYLIK PAR.',1,NULL,'2026-03-04 15:35:45','2026-03-04 15:35:45'),(3,1,'sdfsdfasdfsd','GENEL AYLIK PAR.',1,'2026-03-04 21:29:59','2026-03-04 21:29:41','2026-03-04 21:29:59');
/*!40000 ALTER TABLE `calisma_gruplari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calisma_planlari`
--

DROP TABLE IF EXISTS `calisma_planlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calisma_planlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `calisma_grubu_id` bigint unsigned NOT NULL,
  `tarih` date NOT NULL,
  `vardiya_id` bigint unsigned DEFAULT NULL,
  `tur` enum('is_gunu','tatil','resmi_tatil') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'is_gunu',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `calisma_planlari_calisma_grubu_id_tarih_unique` (`calisma_grubu_id`,`tarih`),
  KEY `calisma_planlari_vardiya_id_foreign` (`vardiya_id`),
  KEY `calisma_planlari_firma_id_calisma_grubu_id_tarih_index` (`firma_id`,`calisma_grubu_id`,`tarih`),
  CONSTRAINT `calisma_planlari_calisma_grubu_id_foreign` FOREIGN KEY (`calisma_grubu_id`) REFERENCES `calisma_gruplari` (`id`) ON DELETE CASCADE,
  CONSTRAINT `calisma_planlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `calisma_planlari_vardiya_id_foreign` FOREIGN KEY (`vardiya_id`) REFERENCES `vardiyalar` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1461 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calisma_planlari`
--

LOCK TABLES `calisma_planlari` WRITE;
/*!40000 ALTER TABLE `calisma_planlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `calisma_planlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `firmalar`
--

DROP TABLE IF EXISTS `firmalar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `firmalar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `paket_id` bigint unsigned DEFAULT NULL,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_adi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vergi_no` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vergi_dairesi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adres` text COLLATE utf8mb4_unicode_ci,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `abonelik_bitis_tarihi` date DEFAULT NULL,
  `paket_tipi` enum('├£cretsiz','Standart','Pro') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '├£cretsiz',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `firmalar_uuid_unique` (`uuid`),
  KEY `firmalar_vergi_no_index` (`vergi_no`),
  KEY `firmalar_paket_id_foreign` (`paket_id`),
  CONSTRAINT `firmalar_paket_id_foreign` FOREIGN KEY (`paket_id`) REFERENCES `paketler` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `firmalar`
--

LOCK TABLES `firmalar` WRITE;
/*!40000 ALTER TABLE `firmalar` DISABLE KEYS */;
INSERT INTO `firmalar` VALUES (1,NULL,'019cb90b-22d1-7294-a295-4caec7187787','Demo ┼Şirketi A.┼Ş.','1234567890','Merkez','├ûrnek Mah. Test Sok. No:1',1,NULL,'├£cretsiz',NULL,'2026-03-04 10:30:40','2026-03-04 10:30:40');
/*!40000 ALTER TABLE `firmalar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gunluk_puantaj_bordro_alanlari`
--

DROP TABLE IF EXISTS `gunluk_puantaj_bordro_alanlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gunluk_puantaj_bordro_alanlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `gunluk_puantaj_id` bigint unsigned NOT NULL,
  `bordro_alani` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `basla` time DEFAULT NULL,
  `bitis` time DEFAULT NULL,
  `min_sure` time DEFAULT NULL,
  `max_sure` time DEFAULT NULL,
  `ekle` time DEFAULT NULL,
  `carpan` int NOT NULL DEFAULT '100',
  `ucret` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ucret_1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gunluk_puantaj_bordro_alanlari_gunluk_puantaj_id_foreign` (`gunluk_puantaj_id`),
  CONSTRAINT `gunluk_puantaj_bordro_alanlari_gunluk_puantaj_id_foreign` FOREIGN KEY (`gunluk_puantaj_id`) REFERENCES `gunluk_puantaj_parametreleri` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gunluk_puantaj_bordro_alanlari`
--

LOCK TABLES `gunluk_puantaj_bordro_alanlari` WRITE;
/*!40000 ALTER TABLE `gunluk_puantaj_bordro_alanlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `gunluk_puantaj_bordro_alanlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gunluk_puantaj_parametreleri`
--

DROP TABLE IF EXISTS `gunluk_puantaj_parametreleri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gunluk_puantaj_parametreleri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `ad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gun_donum_saati` time NOT NULL DEFAULT '06:00:00',
  `iceri_giris_saati` time NOT NULL DEFAULT '08:30:00',
  `disari_cikis_saati` time NOT NULL DEFAULT '18:00:00',
  `erken_gelme_toleransi` time NOT NULL DEFAULT '08:00:00',
  `gec_gelme_toleransi` time NOT NULL DEFAULT '22:22:00',
  `erken_cikma_toleransi` time NOT NULL DEFAULT '22:22:00',
  `hesaplama_tipi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal_toplam',
  `mola_suresi` int NOT NULL DEFAULT '0',
  `gec_gelme_cezasi` int NOT NULL DEFAULT '0',
  `erken_cikma_cezasi` int NOT NULL DEFAULT '0',
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gunluk_puantaj_parametreleri_firma_id_foreign` (`firma_id`),
  CONSTRAINT `gunluk_puantaj_parametreleri_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gunluk_puantaj_parametreleri`
--

LOCK TABLES `gunluk_puantaj_parametreleri` WRITE;
/*!40000 ALTER TABLE `gunluk_puantaj_parametreleri` DISABLE KEYS */;
/*!40000 ALTER TABLE `gunluk_puantaj_parametreleri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `izin_turleri`
--

DROP TABLE IF EXISTS `izin_turleri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `izin_turleri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `ad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ucret_kesintisi_yapilacak_mi` tinyint(1) NOT NULL DEFAULT '0',
  `yillik_izinden_duser_mi` tinyint(1) NOT NULL DEFAULT '0',
  `hafta_sonu_haric_mi` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'true ise hafta sonu g├╝nleri izin g├╝n say─▒s─▒ndan hari├ğ tutulur (Y─▒ll─▒k ─░zin gibi)',
  `resmi_tatil_haric_mi` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'true ise resmi tatil g├╝nleri izin g├╝n say─▒s─▒ndan hari├ğ tutulur',
  `max_gun` int DEFAULT NULL COMMENT 'Bu izin t├╝r├╝ i├ğin maksimum g├╝n say─▒s─▒ (null=s─▒n─▒rs─▒z)',
  `aktif_mi` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `izin_turleri_firma_id_foreign` (`firma_id`),
  CONSTRAINT `izin_turleri_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `izin_turleri`
--

LOCK TABLES `izin_turleri` WRITE;
/*!40000 ALTER TABLE `izin_turleri` DISABLE KEYS */;
/*!40000 ALTER TABLE `izin_turleri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kullanicilar`
--

DROP TABLE IF EXISTS `kullanicilar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kullanicilar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `sube_id` bigint unsigned DEFAULT NULL,
  `ad_soyad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `eposta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `sifre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'kullanici',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kullanicilar_uuid_unique` (`uuid`),
  UNIQUE KEY `kullanicilar_eposta_unique` (`eposta`),
  KEY `kullanicilar_firma_id_index` (`firma_id`),
  KEY `kullanicilar_sube_id_foreign` (`sube_id`),
  KEY `kullanicilar_firma_id_sube_id_index` (`firma_id`,`sube_id`),
  CONSTRAINT `kullanicilar_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kullanicilar_sube_id_foreign` FOREIGN KEY (`sube_id`) REFERENCES `subeler` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kullanicilar`
--

LOCK TABLES `kullanicilar` WRITE;
/*!40000 ALTER TABLE `kullanicilar` DISABLE KEYS */;
/*!40000 ALTER TABLE `kullanicilar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mesaj_ayarlari`
--

DROP TABLE IF EXISTS `mesaj_ayarlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mesaj_ayarlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `kanal` enum('sms','email') COLLATE utf8mb4_unicode_ci NOT NULL,
  `api_anahtari` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gonderici_basligi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `smtp_host` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `smtp_port` int DEFAULT NULL,
  `smtp_sifreleme` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `smtp_kullanici` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `smtp_sifre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gonderen_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gonderen_ad` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sms_api_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sms_kullanici` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sms_sifre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sms_baslik` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mesaj_ayarlari_uuid_unique` (`uuid`),
  KEY `mesaj_ayarlari_firma_id_kanal_index` (`firma_id`,`kanal`),
  CONSTRAINT `mesaj_ayarlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mesaj_ayarlari`
--

LOCK TABLES `mesaj_ayarlari` WRITE;
/*!40000 ALTER TABLE `mesaj_ayarlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `mesaj_ayarlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_id` bigint unsigned NOT NULL,
  `data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paketler`
--

DROP TABLE IF EXISTS `paketler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paketler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `paket_adi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fiyat` decimal(10,2) NOT NULL DEFAULT '0.00',
  `ozellikler` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `paketler_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paketler`
--

LOCK TABLES `paketler` WRITE;
/*!40000 ALTER TABLE `paketler` DISABLE KEYS */;
/*!40000 ALTER TABLE `paketler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pdks_cihazlari`
--

DROP TABLE IF EXISTS `pdks_cihazlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pdks_cihazlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `sube_id` bigint unsigned DEFAULT NULL,
  `seri_no` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cihaz_modeli` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `son_aktivite_tarihi` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pdks_cihazlari_uuid_unique` (`uuid`),
  KEY `pdks_cihazlari_firma_id_index` (`firma_id`),
  KEY `pdks_cihazlari_seri_no_index` (`seri_no`),
  KEY `pdks_cihazlari_sube_id_foreign` (`sube_id`),
  KEY `pdks_cihazlari_firma_id_sube_id_index` (`firma_id`,`sube_id`),
  CONSTRAINT `pdks_cihazlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pdks_cihazlari_sube_id_foreign` FOREIGN KEY (`sube_id`) REFERENCES `subeler` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pdks_cihazlari`
--

LOCK TABLES `pdks_cihazlari` WRITE;
/*!40000 ALTER TABLE `pdks_cihazlari` DISABLE KEYS */;
INSERT INTO `pdks_cihazlari` VALUES (1,'b4d756cb-19fd-469d-9341-283a4140f45d',1,NULL,'SERI-7345','Model X',NULL,NULL,'2026-03-04 10:30:50','2026-03-04 10:30:50');
/*!40000 ALTER TABLE `pdks_cihazlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pdks_gunluk_ozetler`
--

DROP TABLE IF EXISTS `pdks_gunluk_ozetler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pdks_gunluk_ozetler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `tarih` date NOT NULL,
  `ilk_giris` datetime DEFAULT NULL,
  `son_cikis` datetime DEFAULT NULL,
  `toplam_calisma_suresi` int NOT NULL DEFAULT '0' COMMENT 'Dakika cinsinden toplam mesai',
  `fazla_mesai_dakika` int NOT NULL DEFAULT '0',
  `durum` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gelmedi' COMMENT 'geldi, ge├ğ kald─▒, gelmedi',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pdks_gunluk_ozetler_uuid_unique` (`uuid`),
  KEY `pdks_gunluk_ozetler_personel_id_foreign` (`personel_id`),
  KEY `idx_firma_tarih` (`firma_id`,`tarih`),
  KEY `idx_firma_personel_tarih` (`firma_id`,`personel_id`,`tarih`),
  KEY `idx_firma_durum` (`firma_id`,`durum`),
  CONSTRAINT `pdks_gunluk_ozetler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pdks_gunluk_ozetler_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=248 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pdks_gunluk_ozetler`
--

LOCK TABLES `pdks_gunluk_ozetler` WRITE;
/*!40000 ALTER TABLE `pdks_gunluk_ozetler` DISABLE KEYS */;
/*!40000 ALTER TABLE `pdks_gunluk_ozetler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pdks_kayitlari`
--

DROP TABLE IF EXISTS `pdks_kayitlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pdks_kayitlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `cihaz_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `kayit_tarihi` timestamp NOT NULL,
  `islem_tipi` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'giri┼ş veya ├ğ─▒k─▒┼ş',
  `ham_veri` json DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pdks_kayitlari_uuid_unique` (`uuid`),
  KEY `pdks_kayitlari_cihaz_id_index` (`cihaz_id`),
  KEY `pdks_kayitlari_personel_id_index` (`personel_id`),
  KEY `idx_firma_kayit` (`firma_id`,`kayit_tarihi`),
  KEY `pdks_kayitlari_kayit_tarihi_index` (`kayit_tarihi`),
  CONSTRAINT `pdks_kayitlari_cihaz_id_foreign` FOREIGN KEY (`cihaz_id`) REFERENCES `pdks_cihazlari` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pdks_kayitlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pdks_kayitlari_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=442 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pdks_kayitlari`
--

LOCK TABLES `pdks_kayitlari` WRITE;
/*!40000 ALTER TABLE `pdks_kayitlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `pdks_kayitlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_avans_kesintileri`
--

DROP TABLE IF EXISTS `personel_avans_kesintileri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_avans_kesintileri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `tarih` date NOT NULL,
  `tutar` decimal(15,2) NOT NULL,
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bordro_alani` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `taksit_grup_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ayn─▒ taksit grubundaki kay─▒tlar─▒ ba─şlayan UUID',
  `taksit_no` smallint unsigned DEFAULT NULL COMMENT 'Ka├ğ─▒nc─▒ taksit (1,2,3...)',
  `toplam_taksit` smallint unsigned DEFAULT NULL COMMENT 'Toplam taksit say─▒s─▒',
  `toplam_tutar` decimal(15,2) DEFAULT NULL COMMENT 'Taksitlendirilen toplam tutar',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personel_avans_kesintileri_uuid_unique` (`uuid`),
  KEY `personel_avans_kesintileri_personel_id_foreign` (`personel_id`),
  KEY `personel_avans_kesintileri_firma_id_personel_id_tarih_index` (`firma_id`,`personel_id`,`tarih`),
  KEY `personel_avans_kesintileri_taksit_grup_id_index` (`taksit_grup_id`),
  CONSTRAINT `personel_avans_kesintileri_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_avans_kesintileri_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_avans_kesintileri`
--

LOCK TABLES `personel_avans_kesintileri` WRITE;
/*!40000 ALTER TABLE `personel_avans_kesintileri` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_avans_kesintileri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_calisma_planlari`
--

DROP TABLE IF EXISTS `personel_calisma_planlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_calisma_planlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `tarih` date NOT NULL,
  `vardiya_id` bigint unsigned DEFAULT NULL,
  `tur` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'is_gunu',
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personel_calisma_planlari_personel_id_tarih_unique` (`personel_id`,`tarih`),
  KEY `personel_calisma_planlari_vardiya_id_foreign` (`vardiya_id`),
  KEY `personel_calisma_planlari_firma_id_personel_id_tarih_index` (`firma_id`,`personel_id`,`tarih`),
  CONSTRAINT `personel_calisma_planlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_calisma_planlari_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_calisma_planlari_vardiya_id_foreign` FOREIGN KEY (`vardiya_id`) REFERENCES `vardiyalar` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_calisma_planlari`
--

LOCK TABLES `personel_calisma_planlari` WRITE;
/*!40000 ALTER TABLE `personel_calisma_planlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_calisma_planlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_dosyalar`
--

DROP TABLE IF EXISTS `personel_dosyalar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_dosyalar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_turkish_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `dosya_adi` varchar(255) COLLATE utf8mb4_turkish_ci NOT NULL,
  `dosya_yolu` varchar(500) COLLATE utf8mb4_turkish_ci NOT NULL,
  `dosya_tipi` varchar(50) COLLATE utf8mb4_turkish_ci DEFAULT NULL,
  `boyut` bigint unsigned DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  KEY `idx_personel_dosya_firma` (`firma_id`),
  KEY `idx_personel_dosya_personel` (`personel_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_turkish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_dosyalar`
--

LOCK TABLES `personel_dosyalar` WRITE;
/*!40000 ALTER TABLE `personel_dosyalar` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_dosyalar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_izinler`
--

DROP TABLE IF EXISTS `personel_izinler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_izinler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `izin_turu_id` bigint unsigned DEFAULT NULL,
  `tarih` date NOT NULL,
  `bitis_tarihi` date DEFAULT NULL,
  `gun_sayisi` decimal(5,1) NOT NULL DEFAULT '1.0',
  `tatil_tipi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `giris_saati` time DEFAULT NULL,
  `cikis_saati` time DEFAULT NULL,
  `izin_tipi` enum('gunluk','saatlik') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gunluk',
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` enum('beklemede','onaylandi','reddedildi') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'beklemede',
  `onaylayan_id` bigint unsigned DEFAULT NULL,
  `belge_yolu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personel_izinler_uuid_unique` (`uuid`),
  KEY `personel_izinler_personel_id_foreign` (`personel_id`),
  KEY `personel_izinler_firma_id_personel_id_tarih_index` (`firma_id`,`personel_id`,`tarih`),
  KEY `personel_izinler_izin_turu_id_foreign` (`izin_turu_id`),
  KEY `personel_izinler_onaylayan_id_foreign` (`onaylayan_id`),
  CONSTRAINT `personel_izinler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_izinler_izin_turu_id_foreign` FOREIGN KEY (`izin_turu_id`) REFERENCES `izin_turleri` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personel_izinler_onaylayan_id_foreign` FOREIGN KEY (`onaylayan_id`) REFERENCES `kullanicilar` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personel_izinler_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_izinler`
--

LOCK TABLES `personel_izinler` WRITE;
/*!40000 ALTER TABLE `personel_izinler` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_izinler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_prim_kazanclari`
--

DROP TABLE IF EXISTS `personel_prim_kazanclari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_prim_kazanclari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `tarih` date NOT NULL,
  `tutar` decimal(15,2) NOT NULL,
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bordro_alani` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `taksit_grup_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ayn─▒ taksit grubundaki kay─▒tlar─▒ ba─şlayan UUID',
  `taksit_no` smallint unsigned DEFAULT NULL COMMENT 'Ka├ğ─▒nc─▒ taksit (1,2,3...)',
  `toplam_taksit` smallint unsigned DEFAULT NULL COMMENT 'Toplam taksit say─▒s─▒',
  `toplam_tutar` decimal(15,2) DEFAULT NULL COMMENT 'Taksitlendirilen toplam tutar',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personel_prim_kazanclari_uuid_unique` (`uuid`),
  KEY `personel_prim_kazanclari_personel_id_foreign` (`personel_id`),
  KEY `personel_prim_kazanclari_firma_id_personel_id_tarih_index` (`firma_id`,`personel_id`,`tarih`),
  KEY `personel_prim_kazanclari_taksit_grup_id_index` (`taksit_grup_id`),
  CONSTRAINT `personel_prim_kazanclari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_prim_kazanclari_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_prim_kazanclari`
--

LOCK TABLES `personel_prim_kazanclari` WRITE;
/*!40000 ALTER TABLE `personel_prim_kazanclari` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_prim_kazanclari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personel_zimmetler`
--

DROP TABLE IF EXISTS `personel_zimmetler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personel_zimmetler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `kategori` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bolum_adi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verilis_tarihi` date DEFAULT NULL,
  `iade_tarihi` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personel_zimmetler_uuid_unique` (`uuid`),
  KEY `personel_zimmetler_personel_id_foreign` (`personel_id`),
  KEY `personel_zimmetler_firma_id_personel_id_index` (`firma_id`,`personel_id`),
  CONSTRAINT `personel_zimmetler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personel_zimmetler_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personel_zimmetler`
--

LOCK TABLES `personel_zimmetler` WRITE;
/*!40000 ALTER TABLE `personel_zimmetler` DISABLE KEYS */;
/*!40000 ALTER TABLE `personel_zimmetler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personeller`
--

DROP TABLE IF EXISTS `personeller`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personeller` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kart_no` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `ad` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `soyad` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sube_id` bigint unsigned DEFAULT NULL,
  `servis_id` bigint unsigned DEFAULT NULL,
  `puantaj_parametre_id` bigint unsigned DEFAULT NULL,
  `ad_soyad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sicil_no` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ssk_no` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unvan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sirket` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bolum` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ozel_kod` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `departman` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `servis_kodu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hesap_gurubu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `agi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aylik_ucret` decimal(15,2) DEFAULT NULL,
  `gunluk_ucret` decimal(15,2) DEFAULT NULL,
  `saat_1` decimal(15,5) DEFAULT NULL,
  `saat_2` decimal(15,5) DEFAULT NULL,
  `saat_3` decimal(15,5) DEFAULT NULL,
  `giris_tarihi` date DEFAULT NULL,
  `cikis_tarihi` date DEFAULT NULL,
  `resim_yolu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `notlar` text COLLATE utf8mb4_unicode_ci,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gec_kalma_bildirimi` tinyint(1) NOT NULL DEFAULT '0',
  `dogum_tarihi` date DEFAULT NULL,
  `tc_no` varchar(11) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `iban_no` varchar(34) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adres` text COLLATE utf8mb4_unicode_ci,
  `acil_kisi_adi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `acil_kisi_telefonu` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personeller_uuid_unique` (`uuid`),
  KEY `personeller_firma_id_index` (`firma_id`),
  KEY `personeller_sicil_no_index` (`sicil_no`),
  KEY `personeller_sube_id_foreign` (`sube_id`),
  KEY `personeller_servis_id_foreign` (`servis_id`),
  KEY `personeller_firma_id_sube_id_index` (`firma_id`,`sube_id`),
  KEY `personeller_firma_id_servis_id_index` (`firma_id`,`servis_id`),
  KEY `personeller_puantaj_parametre_id_index` (`puantaj_parametre_id`),
  CONSTRAINT `personeller_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personeller_puantaj_parametre_id_foreign` FOREIGN KEY (`puantaj_parametre_id`) REFERENCES `gunluk_puantaj_parametreleri` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personeller_servis_id_foreign` FOREIGN KEY (`servis_id`) REFERENCES `servisler` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personeller_sube_id_foreign` FOREIGN KEY (`sube_id`) REFERENCES `subeler` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personeller`
--

LOCK TABLES `personeller` WRITE;
/*!40000 ALTER TABLE `personeller` DISABLE KEYS */;
/*!40000 ALTER TABLE `personeller` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resmi_tatiller`
--

DROP TABLE IF EXISTS `resmi_tatiller`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resmi_tatiller` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `yil` int NOT NULL,
  `tarih` date NOT NULL,
  `ad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tur` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `yarim_gun_mu` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `resmi_tatiller_firma_id_tarih_unique` (`firma_id`,`tarih`),
  CONSTRAINT `resmi_tatiller_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resmi_tatiller`
--

LOCK TABLES `resmi_tatiller` WRITE;
/*!40000 ALTER TABLE `resmi_tatiller` DISABLE KEYS */;
/*!40000 ALTER TABLE `resmi_tatiller` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servis_hareketleri`
--

DROP TABLE IF EXISTS `servis_hareketleri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servis_hareketleri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `servis_id` bigint unsigned NOT NULL,
  `personel_id` bigint unsigned NOT NULL,
  `binis_zamani` datetime NOT NULL,
  `hareket_tipi` enum('sabah_binis','aksam_binis') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `servis_hareketleri_uuid_unique` (`uuid`),
  KEY `servis_hareketleri_servis_id_foreign` (`servis_id`),
  KEY `servis_hareketleri_personel_id_foreign` (`personel_id`),
  KEY `servis_hareketleri_firma_id_servis_id_index` (`firma_id`,`servis_id`),
  KEY `servis_hareketleri_firma_id_personel_id_binis_zamani_index` (`firma_id`,`personel_id`,`binis_zamani`),
  CONSTRAINT `servis_hareketleri_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `servis_hareketleri_personel_id_foreign` FOREIGN KEY (`personel_id`) REFERENCES `personeller` (`id`) ON DELETE CASCADE,
  CONSTRAINT `servis_hareketleri_servis_id_foreign` FOREIGN KEY (`servis_id`) REFERENCES `servisler` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servis_hareketleri`
--

LOCK TABLES `servis_hareketleri` WRITE;
/*!40000 ALTER TABLE `servis_hareketleri` DISABLE KEYS */;
/*!40000 ALTER TABLE `servis_hareketleri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servisler`
--

DROP TABLE IF EXISTS `servisler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servisler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `plaka` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sofor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `guzergah` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `servisler_uuid_unique` (`uuid`),
  KEY `servisler_firma_id_index` (`firma_id`),
  CONSTRAINT `servisler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servisler`
--

LOCK TABLES `servisler` WRITE;
/*!40000 ALTER TABLE `servisler` DISABLE KEYS */;
/*!40000 ALTER TABLE `servisler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES ('EnNUbcc95fgMK7oVj3d5otlpnHPLZr6PmJZnN2vY',1,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoidXVEdlh5b2RWb0JLN3hjeWtqa3k5ZlFQd1o3S1Y0OWhmdU9idUtjMyI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6Mjg6Imh0dHA6Ly9wZGtzLnRlc3QvcGVyc29uZWxsZXIiO3M6NToicm91dGUiO3M6MTc6InBlcnNvbmVsbGVyLmluZGV4Ijt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo1MDoibG9naW5fd2ViXzU5YmEzNmFkZGMyYjJmOTQwMTU4MGYwMTRjN2Y1OGVhNGUzMDk4OWQiO2k6MTt9',1772708323);
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sistem_loglari`
--

DROP TABLE IF EXISTS `sistem_loglari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sistem_loglari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `kullanici_id` bigint unsigned DEFAULT NULL,
  `islem` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detay` text COLLATE utf8mb4_unicode_ci,
  `ip_adresi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tarih` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sistem_loglari_uuid_unique` (`uuid`),
  KEY `sistem_loglari_kullanici_id_foreign` (`kullanici_id`),
  KEY `sistem_loglari_firma_id_tarih_index` (`firma_id`,`tarih`),
  KEY `sistem_loglari_islem_index` (`islem`),
  CONSTRAINT `sistem_loglari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sistem_loglari_kullanici_id_foreign` FOREIGN KEY (`kullanici_id`) REFERENCES `kullanicilar` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1272 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sistem_loglari`
--

LOCK TABLES `sistem_loglari` WRITE;
/*!40000 ALTER TABLE `sistem_loglari` DISABLE KEYS */;
/*!40000 ALTER TABLE `sistem_loglari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subeler`
--

DROP TABLE IF EXISTS `subeler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subeler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `firma_id` bigint unsigned NOT NULL,
  `sube_adi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lokasyon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subeler_uuid_unique` (`uuid`),
  KEY `subeler_firma_id_index` (`firma_id`),
  CONSTRAINT `subeler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subeler`
--

LOCK TABLES `subeler` WRITE;
/*!40000 ALTER TABLE `subeler` DISABLE KEYS */;
/*!40000 ALTER TABLE `subeler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `super_admin_yetkileri`
--

DROP TABLE IF EXISTS `super_admin_yetkileri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `super_admin_yetkileri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kullanici_id` bigint unsigned NOT NULL,
  `yetkiler` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `super_admin_yetkileri_kullanici_id_index` (`kullanici_id`),
  CONSTRAINT `super_admin_yetkileri_kullanici_id_foreign` FOREIGN KEY (`kullanici_id`) REFERENCES `kullanicilar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `super_admin_yetkileri`
--

LOCK TABLES `super_admin_yetkileri` WRITE;
/*!40000 ALTER TABLE `super_admin_yetkileri` DISABLE KEYS */;
/*!40000 ALTER TABLE `super_admin_yetkileri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tanim_kodlari`
--

DROP TABLE IF EXISTS `tanim_kodlari`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tanim_kodlari` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `tip` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kod` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `aciklama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tanim_kodlari_firma_id_tip_kod_unique` (`firma_id`,`tip`,`kod`),
  KEY `tanim_kodlari_firma_id_tip_index` (`firma_id`,`tip`),
  CONSTRAINT `tanim_kodlari_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tanim_kodlari`
--

LOCK TABLES `tanim_kodlari` WRITE;
/*!40000 ALTER TABLE `tanim_kodlari` DISABLE KEYS */;
/*!40000 ALTER TABLE `tanim_kodlari` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vardiyalar`
--

DROP TABLE IF EXISTS `vardiyalar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vardiyalar` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `ad` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `baslangic_saati` time DEFAULT NULL,
  `bitis_saati` time DEFAULT NULL,
  `toplam_sure` int DEFAULT NULL,
  `renk` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '#3B82F6',
  `durum` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vardiyalar_firma_id_index` (`firma_id`),
  KEY `vardiyalar_durum_index` (`durum`),
  CONSTRAINT `vardiyalar_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vardiyalar`
--

LOCK TABLES `vardiyalar` WRITE;
/*!40000 ALTER TABLE `vardiyalar` DISABLE KEYS */;
INSERT INTO `vardiyalar` VALUES (1,1,'HAFTA ─░├ç─░ MAV─░ YAKA','08:00:00','17:00:00',540,'#3B82F6',1,NULL,'2026-03-04 15:35:44','2026-03-04 15:35:44'),(2,1,'HAFTA SONU MAV─░ YAKA','08:00:00','13:00:00',300,'#60A5FA',1,NULL,'2026-03-04 15:35:44','2026-03-04 15:35:44'),(3,1,'HAFTA ─░├ç─░ BEYAZ YAKA','09:00:00','18:00:00',540,'#10B981',1,NULL,'2026-03-04 15:35:44','2026-03-04 15:35:44'),(4,1,'GECE VARD─░YASI','22:00:00','06:00:00',960,'#6366F1',1,NULL,'2026-03-04 15:35:44','2026-03-04 15:35:44');
/*!40000 ALTER TABLE `vardiyalar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zamanlanmis_bildirimler`
--

DROP TABLE IF EXISTS `zamanlanmis_bildirimler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zamanlanmis_bildirimler` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `firma_id` bigint unsigned NOT NULL,
  `ad` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tip` enum('maas_gunu','dogum_gunu','bayram','ozel_tarih','genel') COLLATE utf8mb4_unicode_ci NOT NULL,
  `kanal` enum('sms','email','her_ikisi') COLLATE utf8mb4_unicode_ci NOT NULL,
  `konu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mesaj_sablonu` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `cron_ifadesi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gun` tinyint DEFAULT NULL,
  `saat` time NOT NULL DEFAULT '09:00:00',
  `ozel_tarih` date DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT '1',
  `son_calisma` timestamp NULL DEFAULT NULL,
  `toplam_gonderim` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `zamanlanmis_bildirimler_firma_id_tip_aktif_index` (`firma_id`,`tip`,`aktif`),
  CONSTRAINT `zamanlanmis_bildirimler_firma_id_foreign` FOREIGN KEY (`firma_id`) REFERENCES `firmalar` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zamanlanmis_bildirimler`
--

LOCK TABLES `zamanlanmis_bildirimler` WRITE;
/*!40000 ALTER TABLE `zamanlanmis_bildirimler` DISABLE KEYS */;
/*!40000 ALTER TABLE `zamanlanmis_bildirimler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'pdks'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-05 13:59:51
